@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Josefin+Sans:wght@100&family=Lexend+Deca:wght@100&family=Livvic:wght@100&family=Rubik:wght@300;400;500;600&display=swap');

:root{
    --yellow:#fed330;
    --red:#e74c3c;
    --white:#fff;
    --black:#000000;
    --light-color:#777;
    --border:.2rem solid var(--black);
}

*{
    font-family: 'Abel', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
}

*::selection{
    background-color: var(--yellow);
    color:var(--black);
}

::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: var(--yellow);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    stop-opacity: 7rem;
}

section{
    margin:0 auto;
    max-width: 1200px;
    padding:2rem;
}

.title{
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 4rem;
    color:var(--black);
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    flex-flow: column;
    background-color: var(--black);
    min-height: 20rem;
}

.heading h3{
    font-size: 5rem;
    color:var(--white);
    text-transform: capitalize;
}

.heading p{
    font-size: 2.3rem;
    color:var(--light-color);
}

.heading p a{
    color:var(--yellow);
}

.heading p a:hover{
    text-decoration: underline;
    color:var(--white);
}

.btn,
.delete-btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 2rem;
    padding:1rem 3rem;
    cursor: pointer;
    text-transform: capitalize;
    transition: .2s linear;
}

.btn{
    background-color: var(--yellow);
    color:var(--black);
}

.delete-btn{
    background-color: var(--red);
    color:var(--white);
}

.btn:hover,
.delete-btn:hover{
    letter-spacing: .2rem;
}

.header{
    position: sticky;
    top:0; left:0; right:0;
    z-index: 1000;
    background-color: var(--white);
    border-bottom: var(--border);
}

.header .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header .flex .logo{
    font-size: 2.5rem;
    color:var(--black);
}

.header .flex .navbar a{
    font-size: 2rem;
    color: var(--black);
    margin:0 1rem;
}

.header .flex .navbar a:hover{
    color:var(--yellow);
    text-decoration: underline;
}

.header .flex .icons > *{
    margin-left: 1.5rem;
    font-size: 2.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .flex .icons > *:hover{
    color: var(--yellow);
}

.header .flex .icons span{
    font-size: 2rem;
}

#menu-btn{
    display: none;
}

.header .flex .profile{
    background-color: var(--white);
    border:var(--border);
    padding:1.5rem;
    text-align: center;
    position: absolute;
    top:125%; right:2rem;
    width: 30rem;
    display: none;
    animation: fadeIn .2s linear;
}

.header .flex .profile.active{
    display: inline-block;
}

@keyframes fadeIn {
    0%{
        transform: translateY(1rem);
    }
}

.header .flex .profile .name{
    font-size: 2rem;
    color:var(--black);
    margin-bottom: 1rem;
}

.header .flex .profile .account{
    margin-top: 2rem;
    font-size: 2rem;
    color:var(--light-color);
}

.header .flex .profile .account a{
    color:var(--black);
}

.header .flex .profile .account a:hover{
    color:var(--yellow);
    text-decoration: underline;
}

.hero .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 2rem;
    margin-bottom: 4rem;
}

.hero .slide .image{
    flex:1 1 40rem;
}

.hero .slide .image img{
    width: 100%;
}

.hero .slide .content{
    flex:1 1 40rem;
    text-align: center;
}

.hero .slide .content span{
    font-size: 2.5rem;
    color:var(--light-color);
}

.hero .slide .content h3{
    margin:1rem 0;
    font-size: 6rem;
    color:var(--black);
    text-transform: capitalize;
}

.swiper-pagination-bullet-active{
    background-color:var(--yellow);
}

.category .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:1.5rem;
    align-items: flex-start;
}

.category .box-container .box{
    border:var(--border);
    padding:2rem;
    text-align: center;
}

.category .box-container .box img{
    width: 100%;
    height: 10rem;
    object-fit: contain;
}

.category .box-container .box h3{
    font-size: 2rem;
    margin-top: 1.5rem;
    color:var(--black);
    text-transform: capitalize;
}

.category .box-container .box:hover{
    background-color:var(--black);
}

.category .box-container .box:hover img{
    filter: invert(1);
}

.category .box-container .box:hover h3{
    color:var(--white);
}

.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 33rem);
    justify-content: center;
    align-items: flex-start;
    gap:1.5rem;
}

.products .box-container .box{
    border: var(--border);
    padding:1.5rem;
    position: relative;
    overflow: hidden;
}

.products .box-container .box img{
    height: 20rem;
    width: 100%;
    object-fit: contain;
    margin-bottom: 1rem;
}

.products .box-container .box .fa-eye,
.products .box-container .box .fa-shopping-cart{
    position: absolute;
    top:1rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.3rem;
    border:var(--border);
    background-color: var(--white);
    cursor: pointer;
    font-size: 2rem;
    color: var(--black);
    transition: .2s linear;
}

.products .box-container .box .fa-eye:hover,
.products .box-container .box .fa-shopping-cart:hover{
    background-color: var(--black);
    color:var(--white);
}

.products .box-container .box .fa-eye{
    left: -10rem;
}

.products .box-container .box .fa-shopping-cart{
    right: -10rem;
}

.products .box-container .box:hover .fa-eye{
    left: 1rem;
}

.products .box-container .box:hover .fa-shopping-cart{
    right: 1rem;
}

.products .box-container .box .cat{
    font-size: 2.5rem;
    color:var(--light-color);
}

.products .box-container .box .cat:hover{
    color:var(--black);
    text-decoration: underline;
}

.products .box-container .box .name{
    font-size: 2rem;
    color:var(--black);
    margin:1rem 0;
}

.products .box-container .box .flex{
    display: flex;
    align-items: center;
    gap:1.5rem;
    margin-top: 1rem;
}

.products .box-container .box .flex .price{
    margin-right: auto;
    font-size: 2.5rem;
    color:var(--black);
}

.products .box-container .box .flex .price span{
    color:var(--light-color);
    font-size: 1.8rem;
}

.products .box-container .box .flex .qty{
    padding:1rem;
    border:var(--border);
    font-size: 1.8rem;
    color:var(--black);
}

.products .more-btn{
    margin-top: 2rem;
    text-align: center;
}

.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.about .row .image{
    flex:1 1 40rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex:1 1 40rem;
    text-align: center;
}

.about .row .content h3{
    font-size: 3rem;
    color:var(--black);
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.about .row .content p{
    padding:1rem 0;
    line-height: 2;
    font-size: 1.6rem;
    color:var(--light-color);
}

.steps .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:1.5rem;
    align-items: flex-start;
}

.steps .box-container .box{
    text-align: center;
    border:var(--border);
    padding:2rem;
}

.steps .box-container .box img{
    height: 15rem;
    width: 100%;
    object-fit: contain;
    margin-bottom: 1rem;
}

.steps .box-container .box h3{
    font-size: 2.3rem;
    margin:1rem 0;
    color: var(--black);
    text-transform: capitalize;
}

.steps .box-container .box p{
    line-height: 2;
    font-size: 1.6rem;
    color:var(--light-color);
}

.reviews .slide{
    margin-bottom: 4rem;
    border:var(--border);
    padding:2rem;
    text-align: center;   
}

.reviews .slide img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.reviews .slide p{
    padding:1.5rem 0;
    line-height: 2;
    font-size: 1.6rem;
    color:var(--light-color);
}

.reviews .slide .stars{
    display: inline-block;
    padding:.5rem 1.5rem;
    border:var(--border);
}

.reviews .slide .stars i{
    font-size: 1.8rem;
    color:var(--yellow);
}

.reviews .slide h3{
    font-size: 2rem;
    margin-top: 1.5rem;
    text-transform: capitalize;
    color:var(--black);
}

.contact .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.contact .row .image{
    flex:1 1 40rem;
}

.contact .row .image img{
    width: 100%;
}

.contact .row form{
    border:var(--border);
    flex:1 1 40rem;
    padding:2rem;
    text-align: center;
}

.contact .row form h3{
    font-size: 2.5rem;
    color:var(--black);
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.contact .row form .box{
    margin:.7rem 0;
    font-size: 1.8rem;
    color:var(--black);
    border:var(--border);
    padding: 1.4rem;
    width: 100%;
}

.contact .row form textarea{
    height: 15rem;
    resize: none;
}

.search-form form{
    display: flex;
    gap:1.3rem;
}

.search-form form .box{
    width: 100%;
    border:var(--border);
    padding:1.4rem;
    font-size: 1.8rem;
    color:var(--black);
}

.search-form form .fa-search{
    width: 6rem;
    background-color: var(--black);
    color:var(--white);
    cursor: pointer;
    font-size: 2.5rem;
}

.search-form form .fa-search:hover{
    background-color: var(--yellow);
    color:var(--black);
}















.footer .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:1.5rem;
    align-items: flex-start;
}

.footer .grid .box{
    border:var(--border);
    padding:2rem;
    text-align: center;
}

.footer .grid .box img{
    height: 10rem;
    width: 100%;
    object-fit: contain;
    margin-bottom: .5rem;
}

.footer .grid .box h3{
    margin:1rem 0;
    font-size: 2rem;
    color:var(--black);
    text-transform: capitalize;
}

.footer .grid .box p,
.footer .grid .box a{
    display: block;
    font-size: 1.7rem;
    color:var(--light-color);
    line-height: 1.8;
}

.footer .grid .box a:hover{
    text-decoration: underline;
}

.credit{
    padding:3rem 2rem;
    text-align: center;
    background-color: var(--black);
    color:var(--white);
    font-size: 2rem;
    text-transform: capitalize;
}

.credit span{
    color: var(--yellow);
}





/* media queries */

@media (max-width:991px) {

    html{
        font-size: 55%;
    }
}

@media (max-width:768px){

    
    #menu-btn{
        display: inline-block;
    }
   
    .header .flex .navbar{
       position: absolute;
       top:99%; left: 0; right: 0;
       border-top: var(--border);
       border-bottom: var(--border);
       background-color: var(--white);
       transition: .3s linear;
       clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .flex .navbar a{
        display: block;
        margin:2rem;
    }

    .header .flex .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

}

@media (max-width:450px) {

    html{
        font-size: 50%;
    }

    .title{
        font-size: 3rem;
    }
 
    .header .flex .logo{
        font-size: 2rem;
    }

    .hero .slide .content h3{
        font-size: 7rem;
    }

    .products .box-container{
        grid-template-columns: 1fr;
    }

    .heading h3{
        font-size: 4rem;
    }

}